[Unit]
Description=crate
After=docker.service
Requires=docker.service

[Service]
TimeoutSec=3600
ExecStartPre=/usr/bin/mkdir -p /mnt/data1/crate
ExecStartPre=/usr/bin/docker pull crate:latest

ExecStart=/bin/bash -c '\
    HOSTS=$(fleetctl list-machines --fields=ip --no-legend \
                | sed "s/$/:4300/" \
                | paste -s -d","); \
    /usr/bin/docker run \
        --publish 4200:4200 \
        --publish 4300:4300 \
        --volume /mnt/data1/crate:/data \
        --volume /tmp:/tmp \
        --env CRATE_HEAP_SIZE=16g \
        crate:latest \
        /bin/bash -c "\
            apt-get update && apt-get install git -y && \
            cd /crate/plugins/crate-admin/_site/ && \
            wget https://gist.githubusercontent.com/chaudum/a90a1aafa49990fdb456/raw/28f700c70994dc1b940879c11119f71e2f1e8a6d/ga.patch && \
            /crate/bin/crate \
              -Des.cluster.name=play-crate-io \
              -Des.indices.recovery.concurrent_streams=6 \
              -Des.gateway.expected_nodes=3 \
              -Des.gateway.recover_after_nodes=3 \
              -Des.multicast.enabled=false \
              -Des.network.publish_host=%H \
              -Des.discovery.zen.minimum_master_nodes=2 \
              -Des.discovery.zen.ping.unicast.hosts=$HOSTS"'

ExecStop=/bin/bash -c "docker stop `docker ps -l | gawk '{ match($0, /([a-z0-9]+)\s+crate:latest/, res); if(length(res[1]) > 1) print res[1]}'`"
ExecStopPost=/bin/bash -c "docker rm `docker ps -l | gawk '{ match($0, /([a-z0-9]+)\s+crate:latest/, res); if(length(res[1]) > 1) print res[1]}'`"

[X-Fleet]
Global=true

