[Unit]
Description=crate
After=docker.service
Requires=docker.service

[Service]
TimeoutSec=3600
ExecStartPre=/usr/bin/mkdir -p /mnt/data1/crate
ExecStartPre=/usr/bin/docker pull crate:latest

ExecStart=/bin/bash -c '\
    HOSTS=$(fleetctl list-machines --fields=ip --no-legend \
                | sed "s/$/:4300/" \
                | paste -s -d","); \
    /usr/bin/docker run \
        --publish 4200:4200 \
        --publish 4300:4300 \
        --volume /mnt/data1/crate:/data \
        --volume /tmp:/tmp \
        --env CRATE_HEAP_SIZE=16g \
        --name play-crate-io \
        crate/crate:play \
        /bin/bash -c "\
            apt-get update && apt-get install git -y && \
            cd /crate/ && \
            wget https://gist.githubusercontent.com/celaus/2d981a3ca3e0211714af/raw/4f31f1d229bc1ac3ab3beeb297002bff7e9dc661/ga.patch && \
            git apply --ignore-space-change --ignore-whitespace ga.patch && \
            /crate/bin/crate \
              -Des.http.cors.enabled=true \
              -Des.http.cors.allow-credentials=true \
              -Des.http.cors.allow-origin=* \
              -Des.cluster.name=play-crate-io \
              -Des.indices.recovery.concurrent_streams=6 \
              -Des.gateway.expected_nodes=3 \
              -Des.gateway.recover_after_nodes=3 \
              -Des.multicast.enabled=false \
              -Des.network.publish_host=%H \
              -Des.discovery.zen.minimum_master_nodes=2 \
              -Des.discovery.zen.ping.unicast.hosts=$HOSTS"'

ExecStop=/bin/bash -c "docker stop play-crate-io"
ExecStopPost=/bin/bash -c "docker rm play-crate-io"

[X-Fleet]
Global=true
