<h1>Listing Tweets</h1>

<table>
  <tr>
    <th>TBC</th>
    <th>TBC</th>
    <th></th>
  </tr>

  <% @tweets.each do |tweet| %>
  <tr>
    <td>
      <%= tweet.user.inspect %>
    </td>
    <td><%= tweet.created_at %></td>
    <td>
      <%= link_to 'Show Tweet', tweet_path(tweet) %>
    </td>
  </tr>
  <% end %>
</table>
